.card {
  display: flex;
  background: $white;
  border: 1px solid $secondary-dark;
  box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin: 30px 0px;
  height: 242px;
  .image-container {
    display: flex;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    .card-image {
      width: 242px;
      height: 100%;
      border-radius: 20px 0px 0px 20px;
      object-fit: cover;
    }
  }
  .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 17px;
    max-height: 100%;
    overflow-y: scroll;
    .date-and-tags {
      display: flex;
      justify-content: space-between;
      max-height: 28px;
      .date {
        color: $primary-opaque;
      }
      .tag {
        display: inline-flex;
        justify-content: center;
        width: 57px;
        padding: 3px 10px;
        border-radius: 10px;
        margin: 0px 10px;
        background-color: $light-pink;
        font-family: 'Poppins', sans-serif;
        color: $primary-light;
        cursor: pointer;
        &:hover {
          background-color: $secondary-light;
        }
      }
    }
    .title {
      display: flex;
      flex-wrap: wrap;
      max-width: 80%;
      max-height: 42px;
      font-weight: bold;
      font-size: 1.125em;
      line-height: 21px;
      color: $black;
      margin: 10px 0;
    }
    .author-and-source {
      color: $primary-opaque;
      margin: 10px 0;
      line-height: 22px;
      max-height: 22px;
      letter-spacing: 0.25px;
    }
    .content {
      max-height: 48px;
      margin: 10px 0;
    }
    .content-expanded {
      line-height: 16px;
      margin: 10px 0;   
    }
    .button-container {
      display: flex;
      justify-content: flex-end;
      .button {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      
        height: 36px;
        color: $white;
        
        background: $blue;
        border-radius: 20px;
      
        margin: 0 10px;
        padding: 0 12.5px;
        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
      }
    }
  }
}