
.widgets-column {
  display: flex;
  flex-direction: column;
}

.widget {
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: 1px solid $secondary-dark;
  padding: 25px;
  margin-bottom: 30px;
  .widget-title {
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
    color: $black;
  }
  .underline {
    width: 20px;
    height: 5px;
    border-radius: 30px;
    background-color: $primary-light;
    margin-top: 8px;
  }
  .tags-container {
    max-height: 300px;
    overflow-y: scroll;
  }
}

.pie {
  height: 275px;
}
.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  .tag-name {
    margin: 0 10px;
  }
  .pb-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    .pb-percentage {
      font-size: 0.875em;
      line-height: 16px;
      margin: 0 10px;
    }
    .pb-bar {
      width: 190px;
      height: 12px;
      background: $light-pink;
      border-radius: 6px;
      div {
        background-color: $blue;
        border-radius: 6px;
        height: 12px;
      }
    }
  }
}